<h1>Log In Below:</h1>

<form method="post" action="/sessions">
  <p>
    Email: <input type="text" name="email"></p>
  <p> 
    Password: <input type="text" name="password"></p>
    
<<<<<<< HEAD
    <input type="submit" value="Log In">
=======
    <input type="submit" value"Log In">
>>>>>>> 7fbe57d07055ca255a90f11ea8f6a50508b748c7
  
  
</form>