<h1>Sign Up Below:</h1>


<form method="POST" action="/registrations">
<<<<<<< HEAD
Name: <input type="text" name="name" id="name">
Email: <input type="text" name="email" id="email">
Password: <input type="text" name="password" id="password">
<input type="submit" name="submit" value="Sign Up"

=======
<h1>Name: <input type="text" name="name" id="name">
Email: <input type="text" name="email" id="email">
Name: <input type="text" name="password" id="password">
<input type="submit" name="submit" value="Sign Up"
</h1>
>>>>>>> 7fbe57d07055ca255a90f11ea8f6a50508b748c7
</form> 